        
    <div id="pieChart"></div>
            <div class="footer-padding"></div>
            
            <div class="footer">
                <p>Designed with ❤️ by The Powerpuff Boys</p>
            </div>
        </div>

        <!-- JavaScript needed for Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script type="text/javascript">
            var getTest = <%- foundUser %>;
        </script>

            <script>
                var dict = {
                    "css":"#845EC2",
                    "html":"#D65DB1",
                    "javascript":"#FF6F91",
                    "python":"#FF9671",
                    "java":"#FFC75F",
                    "c++":"#F9F871",
                    "c":"#2C73D2",
                    "c#":"#0089BA"
                };

                function getLanguageMap (receivedData) {
                    var dataObj = JSON.parse(JSON.stringify(receivedData));
                    
                    var repoData = dataObj["repositories"];
                    
                    var returnData = {};
                    var finalData = [];

                    for (let e of repoData){
                        for (let v of e['commits']){
                            let language = v.language;
                            if(!returnData[language]){
                                returnData[language] = 1;
                            } else {
                                returnData[language] = returnData[language] + 1;
                            }
                        }
                    }
 
                    for(let key in returnData) {
                            finalData.push({
                            label: key,
                            value: returnData[key],
                            color: dict[key]
                        });
                    }
    
                    console.log(finalData);
                    
                    return finalData;
                }

                languageMap = getLanguageMap (getTest);

                console.log(languageMap);
                var pie = new d3pie("pieChart", {
                    "header": {
                        "title": {
                            "text": "Most Used Languages",
                            "fontSize": 20,
                            "font": "courier"
                        },
                        "location": "pie-center",
                    },
                    "size": {
                        "canvasWidth": 490,
                        "pieInnerRadius": "86%",
                        "pieOuterRadius": "70%"
                    },
                    "data": {
                        "sortOrder": "label-desc",
                        "content": languageMap,
                    "labels": {
                        "outer": {
                            "format": "label-percentage1",
                            "pieDistance": 20
                        },
                        "inner": {
                            "format": "none"
                        },
                        "mainLabel": {
                            "fontSize": 11
                        },
                        "percentage": {
                            "color": "#999999",
                            "fontSize": 11,
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#cccc43",
                            "fontSize": 11
                        },
                        "lines": {
                            "enabled": true,
                            "color": "#777777"
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "effect": "linear",
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "colors": {
                            "segmentStroke": "#000000"
                        }
                    }
                }
            });
            </script>
    </body>
</html>