<form class="input-group" action="/gitHubUser" method="get">
    <input type="text" class="form-control" id="gitHubUsername" name="gitHubUsername" placeholder="Search">
    <span class="input-group-btn">
        <button class="btn btn-info searchButton">Search</button>
    </span>
</form>