<%- include("partials/header.ejs"); -%>

<div class="container">
    <%- include("partials/search.ejs"); -%>
</div>

    <h1 class="userName"> <%= foundUser.userName; %> </h1>

    <div id="pieChart"></div>

<%- include("partials/footer2.ejs"); -%>